.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
  z-index: 100;
}
.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 559px;
  padding: 10px;
  position: absolute;
  top: 346px;
  left: 0px;
}
.search > input {
  position: absolute;
  width: 539px;
  padding: 20px;
  left: 0;
  top: 395px;
  border: none;
  z-index: 100;
}
.search > input:focus {
  outline: 0;
}
.search > button {
  background: #ff7779;
  color: #fff;
  text-transform: inherit !important;
  position: absolute;
  top: 450px;
  left: 0;
  width: 579px;
  z-index: 100;
}
.search > button:hover {
  color: #ff7779 !important;
  background: #fff !important;
}
@media screen and (max-width: 500px) {
  .search {
    width: 100%;
    overflow-x: scroll;
  }
}
